<div class="card text-xs-center">
  <div class="card-block">
    <p class="card-text">
      2009년에 지은 건물이며 조용하고 깨끗합니다. 주인직거래이기 때문에 복비를 따로 안내셔도 됩니다. 자세한 사항은 아래의 정보를 확인해주십시오.
    </p>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6 col-sm-12">
      <%= image_tag('overview.jpg', alt: '건물 전경') %>
    </div>

    <div class="col-xs-12 col-lg-6 col-md-6 col-sm-12">
      <a name="one_room"></a>
      <span class="badge badge-primary">입주 가능한 원룸</span>
      <p>현재 입주가능한 방이 없습니다.</p>

      <!--<dl class="dl-horizontal">-->
      <!--<dt class="col-sm-3">방 종류</dt>-->
      <!--<dd class="col-sm-9">원룸</dd>-->

      <!--<dt class="col-sm-3">방세</dt>-->
      <!--<dd class="col-sm-9">월세 300/33, 500/31, 전세 4500만원(융자 없음)</dd>-->

      <!--<dt class="col-sm-3">관리비</dt>-->
      <!--<dd class="col-sm-9">월 4만원. 인터넷, 수도, 건물 청소 포함. (전기 요금과 도시 가스는 별도)</dd>-->

      <!--<dt class="col-sm-3">옵션사항</dt>-->
      <!--<dd class="col-sm-9">풀옵션(냉장고, 에어컨, 드럼세탁기, 인덕션, 옷장, 책상과 의자, 전자도어락)</dd>-->

      <!--<dt class="col-sm-3">평수</dt>-->
      <!--<dd class="col-sm-9">4.5평</dd>-->

      <!--<dt class="col-sm-3">난방방식</dt>-->
      <!--<dd class="col-sm-9">개별난방(도시가스)</dd>-->

      <!--<dt class="col-sm-3">층수</dt>-->
      <!--<dd class="col-sm-9">총 3층 건물 중 2층.</dd>-->

      <!--<dt class="col-sm-3">입주 가능 날짜</dt>-->
      <!--<dd class="col-sm-9"><strong>계약되었습니다! 현재 비어있는 방이 없습니다</strong></dd>-->

      <!--<dt class="col-sm-3">주차 가능 여부</dt>-->
      <!--<dd class="col-sm-9">가능(지정된 자리에 고정 주차. 지붕있고 겹주차 없음. 한달 요금 4만원)</dd>-->

      <!--<dt class="col-sm-3">기타</dt>-->
      <!--<dd class="col-sm-9">반려동물 불가, 2인 거주 불가</dd>-->

      <!--<dt class="col-sm-3">사진</dt>-->
      <!--<dd class="col-sm-9"><%= link_to('원룸 사진 보러가기', one_room_path) %></dd>-->
      <!--</dl>-->
      <a name="two_room"></a>
      <span class="badge badge-default">입주 가능한 투룸</span>
      <div class="badge badge-default">정남향이라서 햇빛이 잘들고 전망이 좋습니다.</div>
      <p>현재 입주가능한 방이 없습니다.</p>
      <!--<dl class="dl-horizontal">-->
        <!--<dt>매물 종류</dt>-->
        <!--<dd>투룸</dd>-->
        <!--<dt>방세</dt>-->
        <!--<dd>월세 <strong>1000/54 2000/50 4000/40 6000/30</strong> 전세 1억 2천(융자 없음)</dd>-->
        <!--<dt>관리비</dt>-->
        <!--<dd>월 6만원. 인터넷, 수도요금 등 포함. 전기 요금과 도시가스는 별도</dd>-->
        <!--<dt>옵션사항</dt>-->
        <!--<dd>인터넷+TV셋톱박스, 에어컨, 가스레인지, 세탁기, 옷장 2개</dd>-->
        <!--<dt>평수</dt>-->
        <!--<dd>11P</dd>-->
        <!--<dt>난방방식</dt>-->
        <!--<dd>개별난방(도시가스)</dd>-->
        <!--<dt>층수</dt>-->
        <!--<dd>총 3층 건물 중 3층</dd>-->
        <!--<dt>입주 가능 날짜</dt>-->
        <!--<dd>2016년 7월24일 경</dd>-->
        <!--<dt>주차 가능 여부</dt>-->
        <!--<dd>가능(건물내 지붕이 있는 지정된 자리에 주차. 월주차 3만원)</dd>-->
        <!--<dt>기타</dt>-->
        <!--<dd>반려동물 불가</dd>-->
        <!--<h3><%= link_to('투룸 사진 보러가기', two_room_path) %></h3>-->
      <!--</dl>-->
    </div>
  </div>
</div>
