<div class="container">
  <div class="well">
    2009년에 지은 신축 5년된 건물이며 조용하고 깨끗합니다. 주인직거래이기 때문에 복비를 따로 안내셔도 됩니다. 자세한 사항은 아래의 정보를 확인해주십시오.
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-3"><%= image_tag('overview.jpg') %></div>

    <a name="one_room"></a>
    <div class="col-lg-9">
      <div class="label label-info">입주 가능한 원룸</div>
      <dl class="dl-horizontal">
        <dt>매물 종류</dt><dd>원룸</dd>
        <dt>방세</dt><dd>월세만 가능 <strong>300/35, 500/33, 1000/30, 2000/20 등(2000 초과는 불가)</strong></dd>
        <dt>관리비</dt><dd>월 4만원. 인터넷 TV 수도 등 포함. 전기 요금과 도시 가스 별도</dd>
        <dt>옵션사항</dt><dd>풀옵션(침대, 냉장고, 에어컨, 드럼세탁기, 인덕션, 전자렌지, 붙박이옷장, 책상과 의자, 책꽂이)</dd>
        <dt>평수</dt><dd>4.5P</dd>
        <dt>난방방식</dt><dd>개별난방(도시가스)</dd>
        <dt>층수</dt><dd>총 3층 건물 중 2층, 사진상으로 주자창 위에 있는 방부터가 1층임</dd>
        <dt>입주 가능 날짜</dt><dd>즉시가능(방청소 깨끗하게 완료됨), 다른 방 하나는 10월 4일 이 후</dd>
        <dt>주차 가능 여부</dt><dd>가능(주차비 한달 3만원 고정 주차)</dd>
        <dt>기타</dt><dd>반려동물 불가, 2인 거주 불가</dd>
        <h3><%= link_to('원룸 사진 보러가기', one_room_path) %></h3>
      </dl>
    </div>
    <p/>

    <a name="two_room"></a>
    <div class="col-lg-9">
      <div class="label label-info">입주 가능한 투룸.</div>
      <div class="label label-primary">정남향이라서 햇빛이 잘들고 전망이 좋습니다.</div>
      <dl class="dl-horizontal">
        <dt>매물 종류</dt><dd>투룸</dd>
        <dt>방세</dt><dd>월세 <strong>1000/57 2000/50 3000/44 4000/38.</strong> 전세불가</dd>
        <dt>관리비</dt><dd>월 6만원. 인터넷 TV 수도 등 포함. 전기 요금과 도시가스는 별도</dd>
        <dt>옵션사항</dt><dd>에어컨, 가스레인지, 세탁기, 옷장</dd>
        <dt>평수</dt><dd>11P</dd>
        <dt>난방방식</dt><dd>개별난방(도시가스)</dd>
        <dt>층수</dt><dd>총 3층 건물 중 3층</dd>
        <dt>입주 가능 날짜</dt><dd>2014년 10월 말부터</dd>
        <dt>주차 가능 여부</dt><dd>가능(주차비 한달 3만원 고정 주차)</dd>
        <dt>기타</dt><dd>반려동물 불가</dd>
        <h3><%= link_to('투룸 사진 보러가기', two_room_path) %></h3>
      </dl>
    </div>
  </div>
</div>
