<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4">
      <table cellpadding="0" cellspacing="0" width="302">
        <tr>
          <td style="border:1px solid #cecece;">
            <a href="http://map.naver.com/?dlevel=10&lat=37.4826244&lng=126.9359521&searchCoord=126.9032623%3B37.453541&query=7Iug66a864%2BZIDk0LTE4Mg%3D%3D&menu=location&tab=1&mapMode=0&enc=b64" target="_blank">
              <img src="http://prt.map.naver.com/mashupmap/print?key=p1375616906874_-353921918" width="300" height="418" alt="지도 크게 보기" title="지도 크게 보기" border="0" style="vertical-align:top;"/>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td height="30" bgcolor="#f9f9f9" style="padding-left:9px; border-left:1px solid #cecece; border-bottom:1px solid #cecece;">
              <span style="color:#666;">2013.8.4</span>&nbsp;
              <span style="color:#e5e5e5;">|</span>&nbsp;
              <a style="color:#666; text-decoration: none; letter-spacing: -1px;" href="http://map.naver.com/?dlevel=10&lat=37.4826244&lng=126.9359521&searchCoord=126.9032623%3B37.453541&query=7Iug66a864%2BZIDk0LTE4Mg%3D%3D&menu=location&tab=1&mapMode=0&enc=b64" target="_blank">지도 크게 보기</a>
              </td>
            </tr>
            </table>
          </td>
        </tr>
      </table>
      <p />
    </div>

    <div class="col-12 col-lg-8">
      <p>신림2교 앞에서 왼쪽으로 자동차용품과 기사님식당 바로 옆골목으로 들어서면 왼쪽으로 첫 번째 골목에 사진에 보이는 건물이 있습니다. 정확한 집주소는 신림동 94-182 입니다. 모바일에서 네이버지도 앱을 켜고 입력하면 쉽게 찾아오실 수 있습니다.</p>
      <p>버스를 타고 찾아오시는 경우 신림역 3번 출구에서 152, 5516, 5519, 5522B, 5528, 6512, 6513, 6514 번 버스를 타시고 2 정거장 째에서 내리시면 됩니다. 집앞 버스정류장에 신림역, 종로, 사당 등 버스노선이 다수 있습니다. 도보로 오시는 경우에는 신림역 2번 출구에서 올라와서 느린 걸음(여성 걸음)으로 걸어본 결과 정확히 17분이 소요됩니다. 바쁜 출근 길에 걸어다닐 수 있는 거리는 아니며, 집 앞에 있는 버스 정류장에서 버스를 타고 신림역으로 이동하시는 것이 좋은 선택입니다. 거리상으로는 봉천역이 더 가깝지만 산을 하나 넘어가야 하기 때문에 다이어트를 원하시는 분이 아니라면 추천해드리고 싶지 않습니다.</p>
      <p>집 앞에 하천을 따라 자전거 도로가 있고 밤에는 운동 겸 산책을 하시는 분들이 무척 많이 계십니다. 집 근처에 편하게 운동할 수 있는 공간이 있다는 것은 정말 좋은 점입니다.</p>
      <p>구로 디지털 단지에 직장이 있으신 분들 께서는 전철을 탈 필요 없이 집 앞에서 6512를 타고 한번에 출퇴근 하실 수 있습니다.</p>
    </div>

    <div class="col-sm-12 col-lg-8">
       <legend>옥상에서 찍은 전경</legend>
       <%= image_tag('top_landscape.jpg') %>
    </div>
  </div>
</div>